/*  White color */
$white: #FFFFFF;
$white-1: #F7F7F7;
$white-2: #EDEDED;
$white-3: #E3E3E3;
$white-4: #C1C1C1;


/* Black color */
$black-0: #1A1A1A;
$black-1: #1F1F1F;
$black-2: #2E2E2E;
$black-3: #363636;
$black-4: #616161;
$black-5: #9F9F9F; 

/* Primary color */
$main-color: #E1C579;
$yellow-light: #DAB758;

/* Gradient */
$green-gradient: linear-gradient(96.63deg, #A8BA68 0%, #E4F89D 100%);
$gradient-2: linear-gradient(51.9deg, #E1C579 0%, #D35252 135.62%);
$blue-gradient: linear-gradient(96.63deg, #B368BA 0%, #F89D9D 100%);
$purple-gradient: linear-gradient(96.63deg, #B368BA 0%, #F89D9D 100%);


/* Alert color*/
$green-dark: #25C03D;
$green-light: #21AB36;
$red-dark: #FF3E33;
$red-light: #FF0E00;